extends layout

block content
  h1= message
  h2= error.status
  pre #{error.stack}


  h2 You are seeing this error message because you are trying to navigate to a URL that we have not set up. Please check the URL and try again. Thanks! :)
